Data Analysis with Python

### Python Language Basics

#### 1. Language Semantics

In [ ]:
a = [10, 20, 30]
b = a

print(a)
print(b)

print(id(a))
print(id(b))

b.append(40)

print("After modifying b:")
print(a)
print(b)

b = [11, 12]

print("Now a = ", a)
print("b =",b)

print(id(a))
print(id(b))

[10, 20, 30]
[10, 20, 30]
2272807465792
2272807465792
After modifying b:
[10, 20, 30, 40]
[10, 20, 30, 40]
Now a =
[10, 20, 30, 40]
b = [11, 12]
2272807465792
2272804905664

In [6]:
#Lists vs Tuples

my_list = [5, 6, 7]
my_tuple = (5, 6, 7)

my_list[0] = 100
print(my_list)

# This will cause an error (expected)
#my_tuple[0] = 100

[100, 6, 7]

In [7]:
#copying objects
original = [1, 2, [3, 4]]
copy_list = original.copy()

copy_list[0] = 99
copy_list[2].append(5)

print("Original:", original)
print("Copy:", copy_list)

Original: [1, 2, [3, 4, 5]]
Copy: [99, 2, [3, 4, 5]]

In [8]:
#Functions

def add_value(lst):
    lst.append(50)

numbers = [10, 20, 30]
add_value(numbers)

print(numbers)

[10, 20, 30, 50]

In [9]:
#operators == vs is
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x == y)   # value comparison
print(x is y)   # identity comparison

print(x is z)

True
False
True

#### 2. Scalar Types

In [10]:
#Integers and Floats

a = 10
b = 3.5

print(type(a))
print(type(b))

c = a + b
print(c, type(c))

<class 'int'>
<class 'float'>
13.5 <class 'float'>

In [11]:
#Type casting

x = "25"
y = int(x)

z = float(y)

print(y, type(y))
print(z, type(z))

25 <class 'int'>
25.0 <class 'float'>

In [12]:
#Boolean Type
is_active = True
is_complete = False

print(type(is_active))
print(is_active and is_complete)
print(is_active or is_complete)

<class 'bool'>
False
True

In [13]:
#None Type

value = None

print(value)
print(type(value))

None
<class 'NoneType'>

In [14]:
#Comparisons
m = 10
n = 20

print(m < n)
print(m == n)
print(m != n)

True
False
True

In [15]:
#Numeric operators

p = 7
q = 2

print(p / q)    # division
print(p // q)   # floor division
print(p ** q)   # power

3.5
3
49

#### 3. Control Flow

In [16]:
#if / elif / else

score = 78

if score >= 80:
    result = "Distinction"
elif score >= 60:
    result = "Pass"
else:
    result = "Fail"

print(result)

Pass

In [17]:
#FOR Loop

numbers = [2, 4, 6, 8]

for num in numbers:
    print(num * 2)

4
8
12
16

In [18]:
#WHILE Loop

count = 1

while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [19]:
# BREAK and CONTINUE

for i in range(1, 6):
    if i == 3:
        continue
    if i == 5:
        break
    print(i)

1
2
4

In [20]:
#RANGE()

for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [21]:
#Conditional expressions

age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)

Adult

In [22]:
#Exception Handling

try:
    value = int("abc")
except ValueError:
    print("Conversion failed")

Conversion failed