In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [2]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [3]:
a = [1, 2, 3]

In [4]:
b = a
b

[1, 2, 3]

In [5]:
a.append(4)
b

[1, 2, 3, 4]

In [6]:
def append_element(some_list, element):
    some_list.append(element)

In [7]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [8]:
a = 5
type(a)
a = "foo"
type(a)

str

In [9]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [10]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [11]:
a = 5
isinstance(a, int)

True

In [12]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [13]:
a = "foo"

In [14]:
getattr(a, "split")

In [15]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [16]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [17]:
5 - 7
12 + 21.5
5 <= 2

False

In [18]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [19]:
a == c

True

In [20]:
a = None
a is None

True

In [21]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [22]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [23]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

1.5

In [26]:
3 // 2

1

In [27]:
c = """
This is a longer string that
spans multiple lines
"""

In [28]:
c.count("\n")

3

In [29]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [30]:
b = a.replace("string", "longer string")
b

'this is a longer string'

In [31]:
a

'this is a string'

In [32]:
a = 5.6
s = str(a)
print(s)

5.6

In [33]:
s = "python"
list(s)
s[:3]

'pyt'

In [34]:
s = "12\\34"
print(s)

12\34

In [35]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [36]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [37]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [38]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [39]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [40]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [41]:
val = "español"
val

'español'

In [42]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [43]:
val_utf8.decode("utf-8")

'español'

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [45]:
True and True
False or True

True

In [46]:
int(False)
int(True)

1

In [47]:
a = True
b = False
not a
not b

True

In [48]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [49]:
a = None
a is None
b = 5
b is not None

True

In [50]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [51]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [52]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [53]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [54]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [55]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [56]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [57]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [59]:
4 > 3 > 2 > 1

True

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [61]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [63]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [64]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668